# Database Configuration
DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Security Configuration
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_DAYS=30
SECURE_COOKIES=False    # TODO: set to True in prod

# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# CORS Configuration
CORS_ORIGINS=["http://localhost:3000","http://localhost:3001"]
